@font-face {
	font-family:"font";
	src: url("../font/font.ttf");
}

*{
    margin: 0px;
    padding: 0px;
	text-decoration: none;
	list-style-type:none;
	font-family:"font";

}
body{
	background:#282529
	
}
header {
	background:#000;
	display:flex;
	width:100%;
	position:fixed;
	z-index:9;
}
.logo{
	width:10%;
}
.slikalogo{
 width:90%;

}
.meni ul   {
	
	width:60%;
	display: inline-flex;
	float:left;
}
.meni ul li {
	margin: 0% 10% ;
	padding: 6%;
	font-size:200%;
}
.meni ul li a {
	color:purple;	
}
.meni ul li a:hover {
	color:#03fc2c;
}
.meni ul li.active a{
	color:#03fc2c;
}
.cleaner{
	clear:both;
}
body{
}
#osnove {
	
	background-image:url(../slike/stadion2.jpg);
	background-size:cover;
	position:absolute;
	top:20%;
	text-align: center;
	width:100%;
}
#osnove h1 {
	margin:2%;
	font-size:350%;
	border: 6px solid black;
	position:relative;
	animation-name:naslov1;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	
	
}
@keyframes naslov1 {
	from {
		right : -1000px;
		
	}
	to { right: 0px;
		
	}
	
}
#osnove p {
	font-size:180%;
	font-weight: bold;
	margin:2%;
}
#infofifa {
	position: relative;
	top: 400px;
	width:80%;
	background:#282529;
	left: 10%;
	
}

.slikafuta{
	display:block;
	width:45%;
	float:left;
}
.infofut p {
	display:flex;
	font-size:150%;
	font-weight:bold;
	/*position:relative;*/
	left:1%;
	/*margin:2%;*/
	padding:2%;
	color:purple;
	
}

.slikacareer {
	float:right;
	width:45%;
	/*transition:0.3s;
	transform: scale(1.2);*/
	
}
.slikacareer:hover {
	
	width:45%;
	transition:0.3s;
	transform: scale(1.05);
	
}
.slikafuta:hover {
	
	width:45%;
	transition:0.3s;
	transform: scale(1.05);
	
}
.slikavolte:hover {
	/*width:45%;*/
	transition:0.3s;
	transform: scale(1.05);
	
}

.slikavolte {
	float:left;
	width:45%;
}
.foot{
	height:100px;
	width:100%;
	display:block;
	position:relative;
	background:#d5d7db;
	top: 600px;
	
}
.foot ul li {
	display: inline;
	margin: 2%;
	
}
.foot ul {
	position:relative;
	left:-17%;
	top:33px;
	
}
.foot ul li a {
	font-size: 120%;
	color:purple;
}
.foot ul li a:hover {
	color:#03fc2c;
}
.ikonica  {
	position:relative;
	font-size:200%;
	width:10%;
}
/* Druga strana FUT*/
#oslonac {
	display:block;
	border: 6px solid purple;
	border-radius:20%;
	padding:2%;
	position:absolute;
	top:150px;
	text-align:center;
	color:purple;
	font-size:150%;
	left:26%;
}


.drzacslike{
	position:relative;
	top:350px;
}

.futart p {
	
	display:flex;
	font-size:150%;
	font-weight:bold;
	left:1%;
	padding:2%;
	color:purple;
	
}
.futart {
	display:flex;
}
.futart img:hover {
	transition:0.3s;
	transform: scale(1.05);
}
.futart img	{
	width:30%;
}

.foote{
	height:100px;
	width:100%;
	display:block;
	position:relative;
	background:#d5d7db;
	top: 350px;
}
.foote ul li {
	display: inline;
	margin: 2%;
}
.foote ul {
	position:relative;
	left:19%;
	top:33px;
	width:81%;
	
}
.foote ul li a {
	font-size: 120%;
	color:purple;
}
.foote ul li a:hover {
	color:#03fc2c;
}
.ikonica  {
	position:relative;
	font-size:200%;
	width:10%;
}
/* Volta */
.futart2 p {
	
	
	font-size:150%;
	font-weight:bold;
	/*left:%;*/
	padding:2%;
	color:purple;
	
}
.futart2 img {
 float:right;
	
}
.futart2 img:hover {
	transition:0.3s;
	transform: scale(1.05);
}
.futart2 img	{
	width:30%;
	
}
/*Galery*/
.redovi{
	position:relative;
	top:300px;
	display:inline-flex;
	padding: 6px;
}
.kolone img{
	width:90%;
	margin-bottom:20px;
	
}
.kolone img:hover{
		transition:0.3s;
	transform: scale(1.05);
	box-shadow: 5px 10px #171717;	
}
#autor {
	display:flex;
	position:relative;
	top:340px;
}
#autor img{
	width:20%;
}
#autor p{
	font-size:150%;
	font-weight:bold;
	
	padding:2%;
	color:purple;
}
#forma{
	position:relative;
	top:300px;
	left:24%;
	border: 6px solid purple;
	width:50%
}
#forma form{
	
}
#forma form label{
	font-size:250%;
	color:purple;
	display:block;
	
	
}
#forma form label input{
	margin:2%;
	width:30%;
	height:5%;
	font-size:70%;

}
.srikon{
	font-size:150%;
	color:purple;
	width:10%;
	display:flex;
	position:relative;
	left:90%;
	margin:10px;
	top:1010px;
	z-index:100;
}





	
